<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrysalis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".domain.ChrysalisApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.WelcomeSlider"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ProductListingScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddProductsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ProductDetailsScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AddProductsActivityNew"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.ConfirmationActivity"
            android:screenOrientation="portrait"></activity>
        <!--     <activity android:name=".activity.AddMultipleImagesDemo" android:screenOrientation="portrait">
             </activity>-->
        <activity
            android:name=".activity.AddEditCostumeActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>